table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.s1{
    color: green;
}

.s2{
    color: red;
}

.s3{
    color: gray;
}

.s4{
    color: yellow;
}

.md-right{
    position: absolute;
    right: 30px;
    margin: 0;
    top: 20px;
}