<form [formGroup]='filterForm'>
  <mat-card>
    <mat-card-content>
      <mat-card-title>Vehicles Filter</mat-card-title>


      <!-- Row -->
      <div fxLayout="row" fxLayoutWrap="wrap">
        <!-- column -->
        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
          Now you can filter our monitored vichels by their Status or by the Owner
          <br /><br />

          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> Filter </mat-panel-title>
                <mat-panel-description> Click here to open </mat-panel-description>
              </mat-expansion-panel-header>
              <section class="example-section">
                <mat-form-field class="example-margin">
                  <input matInput placeholder="VIN" aria-label="VIN" formControlName="VIN" (keyup)="onVINChange($event)"/>
                </mat-form-field>

                <mat-form-field class="example-margin"> 
                  <input matInput placeholder="Client" aria-label="Name" [matAutocomplete]="autoName" formControlName="name" />
                  <mat-autocomplete #autoName="matAutocomplete">
                    <mat-option *ngFor="let client of filteredClients | async" [value]="client.name" (onSelectionChange)="onClientSelection(client.id)">
                      <img style="vertical-align:middle;" aria-hidden src="{{client.avatar}}" height="30" class="mr-6" />
                      <span>{{ client.name }}</span>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="example-margin">
                  <mat-select placeholder="Status" formControlName="status" (selectionChange)="onStatusSelection($event.value)">
                    <mat-option *ngFor="let s of statusList" [value]="s.id">
                      {{s.status}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </section>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>